@font-face {
  font-family: Bitter;
  src: url("fonts/Bitter-VariableFont_wght.ttf");
}

:root {
  --dark-color: #202937;
  --light-text-color: #fff;

  --light-color: #e06622;
  --dark-text-color: #222;
  --cta-color: #3c82f6;
}

/* typography downloaded */
h1,
h2 {
  color: #333333;
  font-family: "Bitter", serif;
  font-size: 32px;
  font-weight: normal;
  line-height: 54px;
  margin: 0 0 54px;
}

p,
li {
  color: #333333;
  font-family: Georgia, serif;
  font-size: 18px;
  line-height: 28px;
  margin: 0 0 28px;
}

a {
  color: #c73036;
  font-family: Georgia, serif;
  text-decoration: underline;
}

a:hover {
  color: #333333;
  text-decoration: underline;
}

.author {
  color: #8d8d8d;
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 14px;
  margin-bottom: 28px;
}

.author a {
  color: #c73036;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

/* end of typography download */

div.dark-bcg p,
div.dark-bcg h1 {
  color: var(--light-text-color);
}

* {
  /* border: 1px solid blue; */
}
html {
  padding: 0;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  margin: 16px 0 16px 0;
}

h2 {
  margin: 0;
  text-align: center;
  font-size: 32px;
}

.section {
  width: 90%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.dark-bcg {
  background-color: var(--dark-color);
  color: var(--light-text-color);
}

#header .section {
  display: flex;
  justify-content: space-between;
}

#logo {
  font-family: "Kaushan Script";
  margin: 10px 20px;
  font-size: 1.5em;
}

#header li {
  display: inline;
  margin-left: 20px;
}

#header a{
  color: var(--light-text-color);
  text-decoration: none;
}

#header a:hover{
  text-decoration: underline;
}


.col50 {
  width: 50%;
}

.flexbox {
  display: flex;
}

#mainImage {
  padding: 1em;
  background-color: white;
}

#hero .section {
  align-items: center;
  padding: 1.5em;
}

button {
  background-color: var(--cta-color);
  border: 0;
  padding: 0.5em 1em;
  color: var(--light-text-color);
  border-radius: 0.4em;
}
#gallery h2 {
  text-align: center;
}

#gallery .flexbox {
  justify-content: space-evenly;
}

#gallery img {
  width: 180px;
  border-color: var(--light-color);
  border-width: 2px;
  border-style: solid;
  border-radius: 0.4em;
  padding: 0.4em;
}

figcaption {
  text-align: center;
  font-size: smaller;
  margin-top: 0.2em;
}

#gallery .section {
  padding-bottom: 2em;
}

#testimonial {
  background-color: #e6e7eb;
  padding: 40px;
}

blockquote {
  margin: 40px 80px;
  font-size: 1.2em;
  font-style: italic;
}
blockquote p {
  text-align: right;
  font-weight: bold;
  font-style: normal;
}



ol {
  font-size: 18px;
  margin-bottom: 0;
  padding: 0;
}

li {
  margin-bottom: 0.2em;
}

#footer {
  background-color: var(--dark-color);
  color: var(--light-text-color);
  padding: 40px;
  text-align: center;
}

#footer .section::first-letter {
  text-transform: uppercase;
}

#map {
  background-image: url("./images/background.jpeg");
  padding: 30px;
  background-repeat: no-repeat;
  background-position: center center;
}

#map .section {
  background-color: var(--light-text-color);
  display: flex;
}

div#address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.button {
  background-color: var(--dark-color);
  border: 0;
  padding: 0.5em 0.5em;
  border-radius: 0.4em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
}

.separator {
  height: 1em;
  background-color: #e5e5f7;
  opacity: 0.8;
  background: repeating-linear-gradient(
    -45deg,
    var(--light-color),
    var(--light-color) 1px,
    #fff 1px,
    #fff 8px
  );
  margin: 1.4em auto;
}





#basen {
  font-weight: normal;
  display: flex;
  text-align: left;
}

#basen2 {
  font-weight: normal;
  margin: 0;
}

#uzytkowanie {
  margin: 18px 0;
}

.centered-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

img.shadowed {
  -webkit-box-shadow: 0px 3px 13px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 13px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 13px -4px rgba(0, 0, 0, 0.75);
}

.margined {
  margin: 1em;
}

figcaption {
  margin-top: 1em;
}

.styled-table {
  border-collapse: collapse;
  margin: 1em 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(2n) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.float-right {
  float: right;
}

.margin-around {
  margin: 0.7em;
}

.float-left {
  float: left;
}

#photo-pv{
  margin-right: 2em;
}

ul li::marker{
  content: "> ";
}

.flexbox{
  display: flex;
}

.clear{
  clear:both;
}

#alarm-on {
  position: relative;

  width: 8px;
  height: 8px;

  top: 220px;
  left: 20px;

  border: 2px solid red;
  border-radius: 50%;
  background-color: red;
}

.absolute {
  position: absolute;
}


.tooltip {
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: var(--light-color);
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  z-index: 1;
  position: absolute;
  /* bottom: 125%;
  left: 50%; */
  opacity: 0;
  transition: opacity 0.5s;
  margin-bottom: 6px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

a.active{
  text-decoration: underline !important;
}