:root {
  --dark-color: #202937;
  --light-text-color: #fff;

  --light-color: #e06622;
  --dark-text-color: #222;
  --cta-color: #3c82f6;
}

* {
  /* border: 1px solid blue; */
}
html {
  padding: 0;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  margin: 0;
}

.section {
  width: 90%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.dark-bcg {
  background-color: var(--dark-color);
  color: var(--light-text-color);
}

#header .section {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
}

#logo {
  font-family: "Kaushan Script";
  margin: 10px 20px;
  font-size: 1.5em;
}

li {
  display: inline;
  margin-left: 20px;
}

.col50 {
  width: 50%;
}

.flexbox {
  display: flex;
}

#mainImage {
  padding: 1em;
  background-color: white;
}

#hero .section {
  align-items: center;
  padding: 1.5em;
}

button {
  background-color: var(--cta-color);
  border: 0;
  padding: 0.5em 1em;
  color: var(--light-text-color);
  border-radius: 0.4em;
}
#gallery h2 {
  text-align: center;
}

#gallery .flexbox {
  justify-content: space-evenly;
}

#gallery img {
  width: 180px;
  border-color: var(--light-color);
  border-width: 2px;
  border-style: solid;
  border-radius: 0.4em;
  padding: 0.4em;
}

figcaption {
  text-align: center;
  font-size: smaller;
  margin-top: 0.2em;
}

#gallery .section {
  padding-bottom: 2em;
}

#testimonial {
  background-color: #e6e7eb;
  padding: 40px;
}

blockquote {
  margin: 40px 80px;
  font-size: 1.2em;
  font-style: italic;
}
blockquote p {
  text-align: right;
  font-weight: bold;
  font-style: normal;
}

#footer {
  background-color: var(--dark-color);
  color: var(--light-text-color);
  padding: 40px;
  text-align: center;
}

#footer .section::first-letter {
  text-transform: uppercase;
}

#map {
  background-image: url("background.jpeg");
  padding: 30px;
  background-repeat: no-repeat;
  background-position: center center;
}

#map .section {
  margin: 30px;
  background-color: var(--light-text-color);
  display: flex;
}

div#address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.button {
  background-color: var(--dark-color);
  border: 0;
  padding: 0.5em 0.5em;
  border-radius: 0.4em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 16px;
}

