* {
  border: 1px solid red;
}

body {
  margin: 0;
  font-size: 12px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#page {
  width: 90%;
  max-width: 960px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

#header {
  display: flex;
  justify-content: space-between;
}

ul {
  padding-left: 0;
}
li {
  display: inline;
  margin-left: 20px;
}

blockquote::before,
blockquote::after {
  content: '"';

}

#logo {
  display: flex;
  align-items: center;
}

#logo div {
    font-family: Caprasimo;
    font-size: 36px;
    margin-left: 10px;
    margin-right: 10px;
}
#slogan{
  color: red;
  display: inline-block;
  height: 40px;
}
#andrzej{
  float: left;
  margin: 1.5em;
}
